@font-face {
  font-family: Astron;
  src: url("./astron-boy/astron\ boy.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #1d1d1d;
}
canvas {
  height: 100vh;
  width: 100vw;
}
p {
  position: absolute;
  z-index: 10;
  color: white;
  font-family: sans-serif;
  margin: 0;
  top: 20px;
  left: 20px;

  font-size: 18px;
}
.main {
  height: 100%;
  position: relative;
  background-color: black;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.big > span {
  font-size: 6rem;
  color: white;
  font-family: Astron;
}
.big {
  height: 90%;
  position: relative;
  width: 80%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#btn {
  padding: 12px 34px;
  font-size: 2rem;
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  border: 1px solid white;
  color: white;
}

.end{
  position: absolute;
  color: white;
  width: 30%;
  border-radius: 6px;
  height: 30%;
  background-color: #1d1d1d;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
}
.btns{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;

}
.btns button{
  padding: 12px 14px;
  font-size: 1.1rem;
  background-color: transparent;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  border: 1px solid white;
  color: white;
}
#Quit{
  background-color: white;
  color: black;
}
#endScore{
  font-size: 2rem;
}